{% extends "layout.html" %}
{% block body %}
<div class="container">
    <form method="POST">
        <label for="irc_server">What IRC server do you use?</label>
        <select class="form-control" name="irc_server" id="irc_server">
            <option>--------</option>
            {% for server in servers %}
            <option value="{{server}}">{{server}}</option>
            {% endfor %}
        </select>
        <label for="irc_channel">What channel do you want to use for relaying? If you want, you can be PMed as well, just fill your IRC username</label>
        <input class="form-control" type="text" name="irc_channel" id="irc_channel">
    </form>
</div>
{% endblock %}