{% extends "layout.html" %}
{% block body %}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>ip</th>
                <th>notify_via_mail</th>
                <th><i class="fa fa-trash-o" aria-hidden="true"></i></th>
            </tr>
        </thead>
        <tbody>
            {% for row in ips %}
            <tr>
                <td>{{ row.ip }}</td>
                <td>{{ row.notify_via_mail }}</td>
                <td><button class="btn btn-danger" onclick="deleteIp('{{ row.ip }}')"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <form method="POST" action="{{ url_for("addip") }}">
        <label for="ip">ip address</label>
        <input type="text" class="form-control" name="ip">
		<input type="hidden" name="email" value="{{email}}">
        <br>
        <input type="submit" class="btn btn-primary" value="add ip">
    </form>

    <a href="logout">logout</a>
</div>
{% endblock %}

{% block javascript %}
<script>
    function deleteIp(ip) {
        $.post('{{ url_for("delip") }}', { 'ip' : ip}, function() {
          location.reload();
        })
    }
</script>
{% endblock %}
