{% extends "layout.html" %}
{% block body %}
<div class="container">
    <h1>Your email <span id="email">{{ email }}</span></h1>

    <table class="table">
        <thead>
            <tr>
                <th>ip</th>
                <th><i class="fa fa-trash-o" aria-hidden="true"></i></th>
            </tr>
        </thead>
        <tbody>
            {% for ip in ips %}
            <tr>
                <td>{{ ip }}</td>
                <td><button class="btn btn-danger" onclick="deleteIp({{ ip }})"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <form method="POST">
        <label for="ip">ip address</label>
        <input type="text" class="form-control">
        <br>
        <input type="submit" class="btn btn-primary" value="add ip">
    </form>
</div>
{% endblock %}

{% block javascript %}
<script>
    function deleteIp(ip) {
        $.post('/delip', { 'ip' : ip, 'email' : $('#email').text()})
    }
</script>
{% endblock %}